@model IEnumerable<Project1.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Vehicle.css">    
</head>
<body>
    <h1>Vehicle</h1>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="card">
                        <a asp-action="Details" asp-route-id="@item.ID">
                            <img class="card-img-top" src="~/Images/@Html.DisplayFor(modelItem => item.ImageName)" alt=@Html.DisplayFor(modelItem => item.ImageName) />
                            <h4><b>@Html.DisplayFor(modelItem => item.CarBrand) @Html.DisplayFor(modelItem => item.CarModel)</b></h4>
                            <p style="font-size:13px">Drive away from</p>
                            <b>@Html.DisplayFor(modelItem => item.Price)$</b>
                            <p style="font-size">Production Date @Html.DisplayFor(modelItem => item.ProductionDate)</p>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>





@*<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CarBrand)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CarModel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductionDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>*@
@*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>*@




