@model IEnumerable<Project1.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Vehicle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
</head>
<body>
    <h1>Vehicle</h1>
    <div>
        <form asp-action="Index" method="get" style="text-align:center">
            <div class="form-actions no-color">
                <p>
                    <input type="text" size="40" placeholder="Search.." name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-light" /> |
                    <a asp-action="Index">Back to Full List</a>
                </p>
            </div>
        </form>
        <form asp-action="Index" method="get" style="text-align:left;">
            <div>
                <p>
                    <input type="text" size="6" placeholder="Max price" name="MaxPrice" value="@ViewData["Max"]" />
                    <input type="text" size="6" placeholder="Min price" name="MinPrice" value="@ViewData["Min"]" />
                    <input type="submit" value="Filter" class="btn btn-light" />
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]">A-Z</a>
                    @if (ViewBag.MyErrorMessage != null)
                    {
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong>Error! </strong>@ViewBag.MyErrorMessage
                        </div>
                    }
                </p>
            </div>


        </form>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="column">
                <div class="container">
                    <div class="card">
                        <img class="card card-img-top" src="~/Images/@Html.DisplayFor(modelItem => item.ImageName)" alt=@Html.DisplayFor(modelItem => item.ImageName) />
                        <a asp-action="Details" asp-route-id="@item.ID">
                            <p style="font-size: 16px;">
                                @Html.DisplayFor(modelItem => item.CarBrand) @Html.DisplayFor(modelItem => item.CarModel)
                            </p>
                            <p style="font-weight: bold; font-size:18px">@Html.DisplayFor(modelItem => item.Price)$</p>
                            <p align="right" style="font-size:12px">@Html.DisplayFor(modelItem => item.ProductionDate)</p>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    <button class="btn" onclick="topFunction()" id="myBtn" title="Go to top"><i class='fas fa-angle-double-up' style="color:dimgray"></i></button>
    <script src="~/js/UpButton.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</body>
</html>





